<connectionStrings>
  <add name="AllInOne" connectionString="Data Source=localhost;Initial Catalog=AllInOne;Integrated Security=True"/>
  <add name="NServiceBus/Transport" connectionString="Endpoint=sb://thirdwave-mstalk.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=dfo5dzbyQ8HccrKhPhMZBzWRAMDbh9Y1qxV2BrvfvTY="/>
</connectionStrings>